* {
  margin: 0;
  padding: 0;
}

.container {
  width: 600px;
  height: 560px;
  margin: 0 auto;
}

.outer-box {
  width: 400px;
  height: 480px;
  background-color: white;
  border: 2px solid red;
  margin-left: 100px;
}

.display {
  width: 350px;
  height: 70px;
  margin: 10px auto;
  border-radius: 4px;
  border: 2px solid red;
}

.input {
  width: 330px;
  height: 50px;
  color: black;
  font-size: 25px;
  text-align: end;
  padding: 10px;
}

.inner-boxes {
  width: 340px;
  height: 315px;
  border: 1px solid red;
  margin: 5px auto;
}

.box {
  width: 55px;
  height: 50px;
  margin: 5px 2px 5px 6px;
  font-size: 20px;
}

.clear {
  margin-left: 305px;
}
