* {
  margin: 0;
  padding: 0;
  text-align: center;
  justify-content: center;
}
h3 {
  background-color: #081b31;
  color: white;
  height: 30px;
  line-height: 25px;
}
.choices {
  display: flex;
  gap: 40px;
  margin-top: 50px;
}
.choice {
  height: 100px;
  width: 100px;
  background-color: blueviolet;
  border-radius: 50%;
}
.choice:hover {
  opacity: 50%;
  cursor: pointer;
}
.scoreboard {
  display: flex;
  font-size: 20px;
  margin-top: 30px;
  gap: 55px;
}
#userscore,
#compscore {
  font-size: 40px;
}
.msgcont {
  margin-top: 45px;
}
#msg {
  background-color: black;
  color: white;
  height: 30px;
  font-size: 20px;
  display: inline;
  padding: 10px;
  border-radius: 10px;
}
